@import url('https://fonts.googleapis.com/css?family=Coming+Soon');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Sevillana');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

body {
  font-family: 'EB Garamond', 'Helvetica', sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: 0 0 3px #ffffff;
}

table {
  font-family: 'EB Garamond', 'Helvetica', sans-serif;
  font-size: 24px;
  color: white;
}

h1 {
  font-family: 'Fredericka the Great', 'Coming Soon', 'Helvetica';
  font-size: 128px;
  color: white;
}

h2 {
  font-family: 'Sevillana', 'Helvetica', sans-serif;
  font-size: 64px;
  color: white;
}

html { 
  background: url(http://cdnfiles.hdrcreme.com/49001/original/cloudy-day.jpg?1426718412) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
